doctype 5
html
	head
		title
			!=getPreparedTitle()

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content=getPreparedDescription())

		meta(name="keywords", content=getPreparedKeywords())
		meta(name="author", content=getPreparedSiteAuthor())

		//- Place favicon.ico and apple-touch-icon.png in the root directory
		//- the meta block has no effect yet
		//- != getBlock('meta').add(site.meta).toHTML()
		!= getBlock("styles").add(site.styles).toHTML()

		//- Le HTML5 shim, for IE6-8 support of HTML5 elements 
		//if lt IE 9
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-24508798-2']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body(data-spy="scroll", data-target=".subnav", data-offset="50")
		//if lt IE 7
			p.browsehappy
				|You are using an 
				strong
					|outdated browser
				|. Please 
				a(href="http://browsehappy.com/")
					|upgrade your browser
				|to improve your experience.

		#mainNavigation.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") Kolding Windsurfing Klub
					.nav-collapse
						ul.nav
							//- li: a(href="/") Forside
							li: a(href="/page/activities") Surfskole og Aktiviteter
							li: a(href="/page/about") Om klubben
							//- li: a(href="/#calender") Kalender
							li: a(href="/page/webcam") Webcam
							li: a(href="/page/weather") Vind og vejr
							li: a(href="/page/about#contacts") Kontakt
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown") Bonus
									b.caret .
								ul.dropdown-menu
									li: a(href="http://picasaweb.google.com/kwksurf", 
										target="_blank"
										title="Se vores billedgalleri") Billeder
									li: a(href="http://www.youtube.com/user/Koldingwindsurfklub?ob=0&feature=results_main", 
										target="_blank"
										title="Se Videoer i vore youtube kanal") Videoer
									li: a(href="http://www.facebook.com/groups/17993003105", 
										target="_blank"
										title="KWK's facebook gruppe") Facebook gruppe


		.container
			#main-content-wrapper.row.span12
				!= content
				
			.row.span12
				.footer
					.well
						address.kwk-address
							strong Kolding Windsurfing Klub
							br
							| Stranden 63, Rebæk
							br
							| 6000 Kolding


		//- Le javascript. Placed at the end of the document so the pages load faster 
		script(src="http://platform.twitter.com/widgets.js")
		script(src="/js/jquery.js")
		script(src="/js/google-code-prettify/prettify.js")
		script(src="/js/bootstrap-transition.js")
		script(src="/js/bootstrap-alert.js")
		script(src="/js/bootstrap-modal.js")
		script(src="/js/bootstrap-dropdown.js")
		script(src="/js/bootstrap-scrollspy.js")
		script(src="/js/bootstrap-tab.js")
		script(src="/js/bootstrap-tooltip.js")
		script.
			$(document).ready(function () {
				$("[rel=tooltip]").tooltip();
			});

			$(document).ready(function () {
				$("[rel=popover]").popover({placement: "top"});
			});

		script(src="/js/bootstrap-popover.js")
		script(src="/js/bootstrap-button.js")
		script(src="/js/bootstrap-collapse.js")
		script(src="/js/bootstrap-carousel.js")
		script(src="/js/bootstrap-typeahead.js")
		script(src="/js/application.js")

		// TODO keep track of current navigation item
		script.
			$(document).ready(function () {
				$("#mainNavigation ul.nav > li a[href='#{navItem}']").parent().addClass("active");
			});

			$(function () {
				var activeTab = $('li > a[href=' + location.hash + ']');
				activeTab && activeTab.tab('show');
			});

		//- handle google slideshows
		script(src="/js/jquery.googleslides.js")
		script.
			$(document).ready(function () {
				var element = $('.slideshow').each(function(){
					$(this).googleslides({
						userid:'109722236261114406275', 
						albumid: $(this).attr("id"),
						time: 4000,
						fadespeed: 700,
						caption: true,
						random: true
					});
					
				});
			});

		!= getBlock('scripts').add(site.scripts, {defer:false}).add(document.scriptExtra, {defer:false}).toHTML()

